/*

!/.changes
!/.claude
!/.github
!/bin
!/changelog
!/dev
!/lib
!/shim
!/t
!/xt

/.claude/settings.local.json

!CHANGES
!CHANGES.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!CLAUDE.md
!GITHUB.md
!INSTALL
!LICENSE
!MANIFEST
!MANIFEST.SKIP
!META.json
!META.yml
!Makefile.PL
!README
!README.md
!RELEASE.md
!LIFECYCLE.md
!VERSION
!cpanfile
!dist.ini

!.ctags
!.editorconfig
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.mailmap
!.perlcriticrc
!.perltidyrc
!.replyrc
!.vns.pl